APP_NAME=Comspace
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000/api

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=comspace_db
DB_USERNAME=comspace_user
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
